@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Medium';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.first {
  padding: 8px 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  backgrond-color: #ffffff;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  text-align: right;
}

.header-text__contacts span {
  font-family: "Museo Sans Light", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.header-text__contacts a {
  color: #333333;
  text-decoration: none;
  font-family: "Museo Sans Bold";
  font-size: 20px;
  font-weight: 400;
}

.header-text__callme button {
  margin-left: 30px;
  padding: 18px 30px;
  font-family: "Museo Sans Bold";
  font-size: 13px;
  font-weight: 400;
  border: none;
  background-color: #ffd200;
  border-radius: 10px;
  outline: none;
}

.header-text__callme button:hover {
  background-color: #ffe04d;
}

.header-text__callme button:active {
  background-color: #ffd200;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.header-text__callme button:focus {
  outline: none;
}

.second {
  padding-top: 60px;
}

.subheader {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subheader-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.subheader-text h1 {
  margin-bottom: 70px;
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 41px;
  font-size-eight: 400;
  line-height: 55px;
}

.subheader-text h1 span {
  margin-top: 50px;
  font-size: 20px;
  line-height: 65px;
}

.subheader-text__advantages {
  max-width: 350px;
  color: #333333;
  font-family: "Museo Sans Light";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.subheader-text__advantages-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.subheader-text__advantages-image {
  min-width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  border-radius: 50%;
  border: 2px solid #ffd200;
}

.subheader-image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  z-index: 99;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.feedback {
  padding: 94px 0;
  background: url("../Imgs/feedback/kitchen.jpg") no-repeat center right -40%;
  background-size: contain;
  position: relative;
  z-index: 1;
}

.feedback::before {
  content: '';
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  z-index: -1;
}

.feedback-form {
  max-width: 575px;
}

.feedback-form__headline {
  color: #333333;
  font-family: "Museo Sans Bold";
  font-weight: 400;
}

.feedback-form__headline-title h1 {
  padding-bottom: 49px;
  font-size: 24px;
}

.feedback-form__headline-subtitle h2 {
  margin-bottom: 49px;
  font-size: 16px;
}

.feedback-form__input input {
  width: 270px;
  margin-bottom: 30px;
  padding: 25px;
  color: #999999;
  font-family: "Museo Sans Light";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 10px;
  border: 1px solid #dddddd;
}

.feedback-form__input input:first-child {
  margin-right: 30px;
}

.feedback-form__button button {
  background-color: #ffd200;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 32px;
  padding: 28px 0;
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.feedback-form__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  font-family: "Museo Sans Light";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.feedback-form__call-you {
  max-width: 225px;
}

.feedback-form__call img {
  margin-left: 78px;
  margin-right: 20px;
  padding: 13px;
  border-radius: 50%;
  border: 2px solid #cccccc;
}

.feedback-form__call-us-phone {
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.portfolio {
  background-color: #f5f5f5;
  padding: 100px 0;
}

.portfolio .portfolio-wrap {
  max-width: 1170px;
  margin: 0 auto;
}

.slider-item {
  text-align: center;
}

.slider-item img {
  margin: auto;
}

.arrow {
  width: 45px;
  height: 19px;
  position: absolute;
  bottom: -68px;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-right {
  left: 50%;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  background: url("../Imgs/slider/arrow-right.png") no-repeat center;
  background-size: 100%;
}

.arrow-left {
  left: 50%;
  -webkit-transform: translateX(-45px);
          transform: translateX(-45px);
  margin-left: -15px;
  background: url("../Imgs/slider/arrow-left.png") no-repeat center;
  background-size: 100%;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.52);
  z-index: 99;
  display: none;
}

.modal-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 1170px;
  max-height: 710px;
  margin: auto;
  background-color: #ffffff;
}

.modal-description {
  max-height: 710px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 80px 90px 70px 80px;
  background-color: #f7f7f7;
  text-align: left;
}

.modal-description__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 15px;
  padding: 5px;
  padding-top: 0;
}

.modal-description__block-text {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 21px;
}

.modal-description__block-text h1 {
  margin-bottom: 0;
  color: #000000;
  font-family: "Museo Sans Medium";
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
}

.modal-description__block-text .line {
  margin-bottom: 12px;
  width: 42px;
  height: 2px;
  background-color: #ffd200;
}

.modal-description__block-text p {
  margin: 0;
  color: #000000;
  font-family: "Museo Sans Light";
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

.modal-description__block-text p span {
  font-family: "Museo Sans Bold";
}

.modal-description__services-headline {
  color: #000000;
  font-family: "Museo Sans Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
}

.modal-description__services-list {
  width: 400px;
  color: #000000;
  font-family: "Museo Sans Light";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.modal-description__services-list li {
  list-style-image: url("../Imgs/modal windows/list-style.png");
  margin-left: -25px;
}

.modal-form {
  margin: auto;
  text-align: center;
}

.modal-form__headline h1 {
  margin-bottom: 45px;
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}

.modal-form__headline h3 {
  margin-bottom: 45px;
  color: #333333;
  font-family: "Museo Sans Light";
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}

.modal-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.modal-form__input input {
  width: 100%;
  margin-bottom: 10px;
  padding: 25px;
}

.modal-form__button {
  margin-bottom: 33px;
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.modal-form__button button {
  width: 100%;
  padding: 27px;
}

.modal-form__feedback-callus {
  margin-bottom: 13px;
  color: #333333;
  font-family: "Museo Sans Light";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.modal-form__feedback-tel {
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
  margin: 0 auto;
}

button {
  border: none;
  background-color: #ffd200;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: #ffe04d;
}

button:active {
  background-color: #ffd200;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: none;
}

input {
  border-radius: 10px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

.section-title {
  color: #333333;
  line-height: 45px;
  font-family: "Museo Sans Bold";
  font-size: 30px;
}

.section-title__center {
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .container-form::after {
    content: '';
    width: 80%;
    margin-right: 400px;
    background-color: #ffffff;
  }
}

.slider-item img {
  max-width: 95%;
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .subheader-text h1 {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 35px;
  }
  .subheader-text h1 span {
    font-size: 18px;
    line-height: 20px;
  }
  .modal-wrap {
    width: 768px;
  }
  .modal-form__headline h1 {
    margin-bottom: 15px;
    font-size: 25px;
  }
  .modal-form__headline h3 {
    margin-bottom: 25px;
  }
  .modal-form__input {
    max-width: 240px;
    padding: 15px;
    margin: 0 auto;
  }
  .modal-form__button {
    max-width: 240px;
    margin: 0 auto;
  }
  .modal-description {
    padding: 40px 45px 35px 40px;
  }
  .feedback {
    background-size: cover;
    background-position: center;
    position: statick;
  }
  .feedback::before {
    content: '';
    width: 0%;
  }
  .feedback-form {
    max-width: 230px;
  }
  .portfolio h1 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .subheader-text {
    width: 460px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subheader-text h1 {
    text-align: center;
  }
  .subheader-image {
    -webkit-transform: none;
            transform: none;
  }
  .feedback-form__headline {
    text-align: center;
  }
  .feedback-form__call-you {
    color: black;
  }
  .feedback-form img {
    border: 2px solid gray;
    background-color: gray;
  }
  .modal-wrap {
    width: 576px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    min-height: 100vh;
  }
  .modal-description {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    height: 100%;
    padding-left: 130px;
  }
  .modal-description__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row  wrap;
            flex-flow: row  wrap;
  }
  .modal-form {
    height: 100%;
  }
  .portfolio-headline {
    max-width: 400px;
    margin: auto;
  }
}

@media (max-width: 576px) {
  .container {
    width: 320px;
  }
  .header-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .header-text__contacts {
    text-align: right;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 10px;
  }
  .header-text__contacts a {
    font-size: 16px;
  }
  .header-text__callme {
    text-align: right;
  }
  .header-text__callme .me {
    display: none;
  }
  .subheader-text {
    width: 260px;
  }
  .subheader-text h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .subheader-text h1 span {
    font-size: 12px;
    line-height: 5px;
  }
  .subheader-image {
    margin: 0 auto;
  }
  .feedback-form {
    margin: 0 auto;
  }
  .feedback-form input {
    display: block;
    width: 100%;
  }
  .feedback-form__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    text-align: center;
  }
  .feedback-form__call img {
    margin: 10px auto;
  }
  .modal-wrap {
    padding-bottom: 0;
    padding-top: 70px;
    max-width: 320px;
    height: 500px;
  }
  .modal-description {
    display: none;
  }
  .modal-description__block:first-child {
    margin-top: 15px;
  }
  .modal-form {
    margin: 0;
    padding: 0;
  }
  .modal-form__feedback {
    margin: 0;
  }
  .modal-form__feedback-tel {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */