@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Medium';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.first {
  padding: 8px 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  backgrond-color: #ffffff;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  text-align: right;
}

.header-text__contacts span {
  font-family: "Museo Sans Light", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.header-text__contacts a {
  color: #333333;
  text-decoration: none;
  font-family: "Museo Sans Bold";
  font-size: 20px;
  font-weight: 400;
}

.header-text__callme button {
  margin-left: 30px;
  padding: 18px 30px;
  font-family: "Museo Sans Bold";
  font-size: 13px;
  font-weight: 400;
  border: none;
  background-color: #ffd200;
  border-radius: 10px;
  outline: none;
}

.header-text__callme button:hover {
  background-color: #ffe04d;
}

.header-text__callme button:active {
  background-color: #ffd200;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.header-text__callme button:focus {
  outline: none;
}

.second {
  padding-top: 60px;
}

.subheader {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subheader-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.subheader-text h1 {
  margin-bottom: 70px;
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 41px;
  font-size-eight: 400;
  line-height: 55px;
}

.subheader-text h1 span {
  margin-top: 50px;
  font-size: 20px;
  line-height: 65px;
}

.subheader-text__advantages {
  max-width: 350px;
  color: #333333;
  font-family: "Museo Sans Light";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.subheader-text__advantages-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.subheader-text__advantages-image {
  min-width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  border-radius: 50%;
  border: 2px solid #ffd200;
}

.subheader-image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  z-index: 99;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.feedback {
  padding: 94px 0;
  background: url("../Imgs/feedback/kitchen.jpg") no-repeat center right -40%;
  background-size: contain;
  position: relative;
  z-index: 1;
}

.feedback::before {
  content: '';
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  z-index: -1;
}

.feedback-form {
  max-width: 575px;
}

.feedback-form__headline {
  color: #333333;
  font-family: "Museo Sans Bold";
  font-weight: 400;
}

.feedback-form__headline-title h1 {
  padding-bottom: 49px;
  font-size: 24px;
}

.feedback-form__headline-subtitle h2 {
  margin-bottom: 49px;
  font-size: 16px;
}

.feedback-form__input input {
  width: 270px;
  margin-bottom: 30px;
  padding: 25px;
  color: #999999;
  font-family: "Museo Sans Light";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 10px;
  border: 1px solid #dddddd;
}

.feedback-form__input input:first-child {
  margin-right: 30px;
}

.feedback-form__input-button {
  background-color: #ffd200;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 32px;
  padding: 28px 0;
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.feedback-form__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  font-family: "Museo Sans Light";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.feedback-form__call-you {
  max-width: 225px;
}

.feedback-form__call img {
  margin-left: 78px;
  margin-right: 20px;
  padding: 13px;
  border-radius: 50%;
  border: 2px solid #cccccc;
}

.feedback-form__call-us-phone {
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.portfolio {
  background-color: #f5f5f5;
  padding: 100px 0;
}

.portfolio .portfolio-wrap {
  max-width: 1170px;
  margin: 0 auto;
}

.slider {
  margin-top: 99px;
  margin-bottom: 100px;
}

.slider-item {
  text-align: center;
}

.slider-item img {
  margin: auto;
}

.arrow {
  width: 45px;
  height: 19px;
  position: absolute;
  bottom: -68px;
}

.arrow:hover {
  cursor: pointer;
}

.arrow-right {
  left: 50%;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  background: url("../Imgs/slider/arrow-right.png") no-repeat center;
  background-size: 100%;
}

.arrow-left {
  left: 50%;
  -webkit-transform: translateX(-45px);
          transform: translateX(-45px);
  margin-left: -15px;
  background: url("../Imgs/slider/arrow-left.png") no-repeat center;
  background-size: 100%;
}

.repair .container {
  padding-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.repair-headline__title {
  width: 750px;
  color: #000000;
  font-family: "Museo Sans Bold";
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
}

.repair-headline__subtitle {
  margin-top: 58px;
  margin-bottom: 59px;
  color: #000000;
  font-family: "Museo Sans Light";
  font-size: 20px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
}

.repair-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

.repair-blocks__item {
  margin-bottom: 30px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.repair-blocks__item-image {
  position: relative;
}

.repair-blocks__item-image::after {
  content: '';
  width: 100%;
  height: 98.8%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.repair-blocks__item-legend {
  margin-bottom: 47px;
  color: #000000;
  font-family: "Museo Sans Light";
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
}

.repair-blocks__item-legend a {
  position: relative;
  color: #333333;
  color-family: "Museo Sans Bold";
  color-size: 16px;
  color-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.repair-blocks__item-legend a::after {
  content: '';
  position: absolute;
  left: 0.01%;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.repair-blocks__item-legend a:hover::after {
  height: 13px;
  z-index: -1;
}

.repair-blocks__item:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
}

.repair-blocks__item:hover > .repair-blocks__item-image::after {
  opacity: 0.8;
}

.repair .second-headline {
  margin-top: 60px;
  margin-bottom: 60px;
}

.repair-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repair-items__item {
  min-height: 188px;
  margin-bottom: 97px;
}

.repair-items__item-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.repair-items__item-figure-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  padding: 33px 33px;
  border-radius: 50%;
  border: 3px solid #ffd200;
}

.repair-items__item-figure-image img {
  max-width: 35px;
  height: 35px;
}

.repair-items__item-figure-legend {
  max-width: 151px;
  margin-top: 30px;
  color: #000000;
  font-family: "Museo Sans Light";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.repair-items__arrow {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.statement {
  background-color: #ffd200;
}

.statement-title {
  margin: 100px auto;
  color: #000000;
  font-family: "Museo Sans Light";
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}

.suggestion-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 143px;
}

.suggestion-blocks__block {
  margin-right: 30px;
}

.suggestion-blocks__block:last-child {
  margin-right: 0;
}

.suggestion-blocks__block-headline {
  margin: 27px 85px 53px 25px;
  width: 259px;
  color: #000000;
  font-family: "Museo Sans Light";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.suggestion-blocks__block-image-1 {
  width: 370px;
  height: 270px;
  background-image: url("../Imgs/repair/first-sugg.jpg");
}

.suggestion-blocks__block-image-2 {
  width: 370px;
  height: 270px;
  background-image: url("../Imgs/repair/second-sugg.jpg");
}

.suggestion-blocks__block-image-3 {
  width: 370px;
  height: 270px;
  background-image: url("../Imgs/repair/third-sugg.jpg");
}

.documents .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.documents-headline {
  max-width: 750px;
  margin-bottom: 99px;
  text-align: center;
}

.documents-headline__title {
  color: #000000;
  font-family: "Museo Sans Bold";
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
}

.documents-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 90px;
}

.documents-blocks__block {
  min-width: 286px;
  height: 467px;
  margin: 0 auto;
  margin-right: 130px;
}

.documents-blocks__block:last-child {
  margin-right: 0;
}

.documents-blocks__block-image {
  margin-bottom: 41px;
  padding: 25px;
  background-color: #f7f7f7;
  text-align: center;
}

.documents-blocks__block-legend {
  color: #000000;
  font-family: "Museo Sans Light";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  background-color: #ffd200;
  padding: 65px 0;
  padding-left: 200px;
  padding-right: 50px;
  max-height: 660px;
}

.request .description-headline__title {
  margin-bottom: 50px;
  color: #000000;
  font-family: "Museo Sans Bold";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}

.request .description-headline__subtitle {
  margin-bottom: 74px;
  color: #000000;
  font-family: "Museo Sans Light";
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
}

.request .description-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 26px;
}

.request .description-list__item-number {
  margin-right: 30px;
  padding: 8px 11px;
  border-radius: 50%;
  border: 2px solid #000000;
  color: #000000;
  font-family: "Museo Sans Bold";
  font-size: 14px;
  font-weight: 400;
}

.request .description-list__item-text {
  color: #000000;
  font-family: "Museo Sans Medium";
  font-size: 18px;
  font-weight: 400;
}

.request .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 88px 0;
  background-image: url("../Imgs/form/background.jpg");
  text-align: center;
  max-height: 660px;
}

.request .form-headline__title {
  margin-top: -20px;
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}

.request .form-headline__subtitle {
  margin-top: 52px;
  margin-bottom: 30px;
  color: #333333;
  font-family: "Museo Sans Light";
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}

.request .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
}

.request .form-input input {
  height: 65px;
  margin-bottom: 15px;
  padding: 25px;
}

.request .form-input input:last-child {
  margin-bottom: 30px;
}

.request .form-input button {
  margin-bottom: 33px;
  padding: 28px;
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.request .form-comm {
  color: #333333;
  font-family: "Museo Sans Light";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-maps {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 50px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.footer-contacts__title {
  margin-bottom: 40px;
  width: 293px;
  color: #000000;
  font-family: "Museo Sans Bold";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}

.footer-contacts__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 40px;
}

.footer-contacts__adress-icon {
  width: 14px;
  height: 20px;
  margin-right: 25px;
  background-image: url("../Imgs/footer/first-icon.png");
}

.footer-contacts__adress-text {
  color: #000000;
  font-family: "Museo Sans Light";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.footer-contacts__adress-text strong {
  font-family: "Museo Sans Bold";
}

.footer-contacts__shedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 40px;
}

.footer-contacts__shedule-icon {
  width: 20px;
  height: 20px;
  margin-right: 25px;
  background-image: url("../Imgs/footer/second-icon.png");
}

.footer-contacts__shedule-text {
  color: #000000;
  font-family: "Museo Sans Light";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.footer-contacts__shedule-text strong {
  font-family: "Museo Sans Bold";
}

.footer-contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 40px;
}

.footer-contacts__phone-icon {
  width: 20px;
  height: 20px;
  margin-right: 25px;
  background-image: url("../Imgs/footer/third-icon.png");
}

.footer-contacts__phone-text {
  color: #000000;
  font-family: "Museo Sans Light";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.footer-contacts__phone-text strong {
  font-family: "Museo Sans Bold";
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.52);
  z-index: 99;
  display: none;
}

.modal-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 70%;
  max-height: 710px;
  margin: auto;
  background-color: #ffffff;
}

.modal-description {
  max-height: 710px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  padding: 80px 0 70px 80px;
  background-color: #f7f7f7;
  text-align: left;
}

.modal-description__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 15px;
  padding: 5px;
  padding-top: 0;
}

.modal-description__block-text {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 21px;
}

.modal-description__block-text h1 {
  margin-bottom: 0;
  color: #000000;
  font-family: "Museo Sans Medium";
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
}

.modal-description__block-text .line {
  margin-bottom: 12px;
  width: 42px;
  height: 2px;
  background-color: #ffd200;
}

.modal-description__block-text p {
  margin: 0;
  color: #000000;
  font-family: "Museo Sans Light";
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

.modal-description__block-text p span {
  font-family: "Museo Sans Bold";
}

.modal-description__services-headline {
  color: #000000;
  font-family: "Museo Sans Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
}

.modal-description__services-list {
  width: 400px;
  color: #000000;
  font-family: "Museo Sans Light";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.modal-description__services-list li {
  list-style-image: url("../Imgs/modal windows/list-style.png");
  margin-left: -25px;
}

.modal-form {
  margin: auto 50px;
  text-align: center;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.modal-form__headline h1 {
  margin-bottom: 45px;
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
}

.modal-form__headline h3 {
  margin-bottom: 45px;
  color: #333333;
  font-family: "Museo Sans Light";
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
}

.modal-form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  color: #999999;
  font-family: "Museo Sans Light";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.modal-form__input input {
  width: 100%;
  margin-bottom: 10px;
  padding: 25px;
}

.modal-form__input button {
  margin-bottom: 33px;
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 100%;
  padding: 37px;
}

.modal-form__feedback-callus {
  margin-bottom: 13px;
  color: #333333;
  font-family: "Museo Sans Light";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.modal-form__feedback-tel {
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.close {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  background-image: url("../Imgs/modal-windows/cancel.svg");
}

.close:hover {
  cursor: pointer;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
  margin: 0 auto;
}

button {
  border: none;
  background-color: #ffd200;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: #ffe04d;
}

button:active {
  background-color: #ffd200;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: none;
}

input {
  border-radius: 10px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

.section-title {
  color: #333333;
  line-height: 45px;
  font-family: "Museo Sans Bold";
  font-size: 30px;
}

.section-title__center {
  text-align: center;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .container-form::after {
    content: '';
    width: 80%;
    margin-right: 400px;
    background-color: #ffffff;
  }
  .slider-item img {
    max-width: 95%;
  }
  .suggestion-blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .suggestion-blocks__block:last-child {
    margin-top: 35px;
  }
  .documents-blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 290px;
  }
  .documents-blocks__block {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .request {
    max-height: 660px;
  }
  .request .form {
    padding: 110px 0;
  }
  .request .form-input button {
    padding-bottom: 48px;
  }
  .modal-description {
    padding: 15px 0 15px 40px;
  }
  .modal-form {
    padding-top: 25px;
  }
  .modal-form__headline h1 {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 20px;
  }
  .modal-form__headline h3 {
    font-size: 13px;
    line-height: 15px;
  }
  .modal-form__input input {
    padding: 10px;
  }
  .modal-form__input button {
    margin-bottom: 35px;
    padding: 15px;
  }
  .modal-form__feedback-tel {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .subheader-text h1 {
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 35px;
  }
  .subheader-text h1 span {
    font-size: 18px;
    line-height: 20px;
  }
  .feedback-form {
    text-align: center;
    min-width: 100%;
  }
  .feedback-form__input-button {
    width: 75%;
  }
  .modal-wrap {
    width: 768px;
  }
  .modal-form__headline h1 {
    margin-bottom: 15px;
    font-size: 25px;
  }
  .modal-form__headline h3 {
    margin-bottom: 25px;
  }
  .modal-form__input {
    max-width: 240px;
    padding: 15px;
    margin: 0 auto;
  }
  .modal-form__button {
    max-width: 240px;
    margin: 0 auto;
  }
  .modal-description {
    padding: 40px 45px 35px 40px;
  }
  .feedback {
    background-size: cover;
    background-position: center;
    position: statick;
  }
  .feedback::before {
    content: '';
    width: 0%;
  }
  .feedback-form {
    max-width: 230px;
  }
  .portfolio h1 {
    font-size: 25px;
  }
  .slider {
    margin-bottom: 30px;
  }
  .repair .headline {
    margin-top: -50px;
  }
  .repair .headline__title {
    font-size: 16px;
  }
  .repair-blocks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .repair-blocks__item {
    margin-right: 10px;
  }
  .repair-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .repair-items__arrow {
    display: none;
  }
  .suggestion-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 120px auto;
    text-align: center;
  }
  .suggestion-blocks__block {
    margin-right: 0;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .documents-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .statement {
    padding: 0;
  }
  .statement-title {
    margin: 45px auto;
    font-size: 20px;
    line-height: 25px;
  }
  .request .description {
    padding: 50px;
  }
  .request .form-headline__title {
    margin-top: -20px;
  }
  .request .form-input button {
    padding-bottom: 48px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .subheader-text {
    width: 460px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subheader-text h1 {
    text-align: center;
  }
  .subheader-image {
    -webkit-transform: none;
            transform: none;
  }
  .feedback-form__headline {
    text-align: center;
  }
  .feedback-form__call-you {
    color: black;
  }
  .feedback-form img {
    border: 2px solid gray;
    background-color: gray;
  }
  .modal-wrap {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    height: 80%;
  }
  .modal-description {
    display: none;
  }
  .modal-form {
    margin-top: 20px;
  }
  .modal-form__headline h3 {
    margin-top: 30px;
  }
  .modal-form__input input {
    padding: 20px;
  }
  .modal-form__input button {
    margin-bottom: 15px;
    padding: 25px;
  }
  .portfolio-headline {
    max-width: 400px;
    margin: auto;
  }
  .repair-headline__title {
    font-size: 25px;
    line-height: 2em;
  }
  .documents-headline {
    margin-bottom: 15px;
  }
  .documents-headline__title {
    margin-bottom: 0;
    font-size: 24px;
  }
  .documents-blocks {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .documents-blocks__block {
    margin: 15px auto;
  }
  .suggestion-blocks {
    margin-bottom: 40px;
  }
  .statement-title {
    margin: 20px auto;
    font-size: 18px;
  }
  .request {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    max-height: 100%;
  }
  .request .description {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .request .description-headline {
    text-align: center;
  }
  .request .form {
    padding: 50px 0;
    width: 100%;
  }
  .request .form-input button {
    padding-bottom: 28px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
  }
  .footer-maps {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer-contacts {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0;
  }
  .footer-contacts__title {
    margin: 0 auto;
    margin-top: 20px;
    width: 60%;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .container {
    width: 320px;
  }
  .header-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
  }
  .header-text__contacts {
    text-align: right;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 10px;
    font-size: 10px;
  }
  .header-text__contacts a {
    font-size: 12px;
  }
  .header-text__callme {
    text-align: right;
    font-size: 10px;
  }
  .header-text__callme .me {
    display: none;
  }
  .header-text__callme button {
    padding: 10px;
  }
  .subheader-text {
    width: 90%;
  }
  .subheader-text h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .subheader-text h1 span {
    font-size: 12px;
    line-height: 5px;
  }
  .subheader-image {
    margin: 0 auto;
  }
  .feedback-form {
    margin: 0 auto;
  }
  .feedback-form input {
    display: block;
    width: 100%;
  }
  .feedback-form button {
    width: 100%;
  }
  .feedback-form__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    text-align: center;
  }
  .feedback-form__call img {
    margin: 10px auto;
  }
  .portfolio .section-title {
    width: 90%;
    margin: 0 auto;
  }
  .statement-title {
    font-size: 25px;
    line-height: 30px;
  }
  .documents-headline {
    margin: 20px auto;
  }
  .documents-headline__title {
    line-height: 25px;
  }
  .suggestion-blocks {
    margin-bottom: 30px;
  }
  .modal-form__input input {
    padding: 15px;
  }
  .modal-form__input button {
    padding: 20px;
  }
  .modal-form {
    margin: 0;
    padding: 0;
  }
  .modal-form__headline h1 {
    font-size: 18px;
  }
  .modal-form__feedback {
    margin: 0;
  }
  .modal-form__feedback-tel {
    margin-bottom: 0;
  }
  .request .description {
    padding: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .request .description-headline {
    margin: 10px auto;
    width: 95%;
  }
  .request .description-headline__title {
    margin-top: 10px;
    font-size: 20px;
  }
  .request .description-list {
    margin-left: 15px;
  }
  .request .form {
    padding: 0;
  }
  .request .form-headline {
    margin-top: 25px;
  }
  .request .form-input {
    max-width: 80%;
  }
  .request .form-input button {
    padding-bottom: 28px;
  }
  .repair-headline {
    width: 80%;
  }
  .repair-headline__title {
    margin: 0 auto;
    width: 100%;
  }
  .repair-headline__subtitle {
    margin: 15px auto;
  }
  .repair-items__item {
    margin-bottom: 35px;
  }
}
/*# sourceMappingURL=main.css.map */