@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Medium';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.first {
  padding: 8px 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  backgrond-color: #ffffff;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  text-align: right;
}

.header-text__contacts span {
  font-family: "Museo Sans Light", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.header-text__contacts a {
  color: #333333;
  text-decoration: none;
  font-family: "Museo Sans Bold";
  font-size: 20px;
  font-weight: 400;
}

.header-text__callme button {
  margin-left: 30px;
  padding: 18px 30px;
  font-family: "Museo Sans Bold";
  font-size: 13px;
  font-weight: 400;
  border: none;
  background-color: #ffd200;
  border-radius: 10px;
  outline: none;
}

.header-text__callme button:hover {
  background-color: #ffe04d;
}

.header-text__callme button:active {
  background-color: #ffd200;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.header-text__callme button:focus {
  outline: none;
}

.second {
  padding-top: 60px;
}

.subheader {
  background-color: #f5f5f5;
}

.subheader-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.subheader-text h1 {
  margin-bottom: 70px;
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 41px;
  font-size-eight: 400;
  line-height: 55px;
}

.subheader-text h1 span {
  margin-top: 50px;
  font-size: 20px;
  line-height: 65px;
}

.subheader-text__advantages {
  max-width: 350px;
  color: #333333;
  font-family: "Museo Sans Light";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.subheader-text__advantages-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.subheader-text__advantages-image {
  min-width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  border-radius: 50%;
  border: 2px solid #ffd200;
}

.subheader-image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.feedback {
  padding: 94px 0;
  background: url("../Imgs/feedback/kitchen.jpg") no-repeat center right -40%;
}

.feedback-form {
  max-width: 575px;
}

.feedback-form__headline {
  color: #333333;
  font-family: "Museo Sans Bold";
  font-weight: 400;
}

.feedback-form__headline-title h1 {
  padding-bottom: 49px;
  font-size: 24px;
}

.feedback-form__headline-subtitle h2 {
  margin-bottom: 49px;
  font-size: 16px;
}

.feedback-form__input input {
  width: 270px;
  margin-bottom: 30px;
  padding: 25px;
  color: #999999;
  font-family: "Museo Sans Light";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 10px;
  border: 1px solid #dddddd;
}

.feedback-form__input input:first-child {
  margin-right: 30px;
}

.feedback-form__button button {
  background-color: #ffd200;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 32px;
  padding: 28px 0;
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.feedback-form__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  font-family: "Museo Sans Light";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.feedback-form__call-you {
  max-width: 225px;
}

.feedback-form__call img {
  margin-left: 78px;
  margin-right: 20px;
  padding: 13px;
  border-radius: 50%;
  border: 2px solid #cccccc;
}

.feedback-form__call-us-phone {
  color: #333333;
  font-family: "Museo Sans Bold";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
  margin: 0 auto;
}

button {
  border: none;
  background-color: #ffd200;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: #ffe04d;
}

button:active {
  background-color: #ffd200;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

button:focus {
  outline: none;
}
/*# sourceMappingURL=main.css.map */