@media (max-width: 1200px)
  .container
    width: 960px
    &-form
      &::after
        content: ''
        width: 80%
        margin-right: 400px
        background-color: #ffffff
  .slider
    &-item
      & img
        max-width: 95%
  .suggestion
    &-blocks
      &__block
        &:last-child
          margin-top: 35px
      flex-flow: row wrap
  .documents
    &-blocks
      flex-flow: row wrap
      align-items: center
      justify-content: center
      max-width: 290px
      &__block
        margin-bottom: 30px
        margin-right: 0
  .request
    max-height: 660px
    & .description
      &-headline
        margin-top: 20px
    & .form
      padding: 110px 0
      &-input
        & button
          padding-bottom: 48px
  .modal
    &-description
      padding: 15px 0 15px 40px
    &-form
      padding-top: 25px
      &__headline
        & h1
          margin-bottom: 25px
          font-size: 16px
          line-height: 20px
        & h3
          font-size: 13px
          line-height: 15px
      &__input
        & input
          padding: 10px
        & button
          margin-bottom: 35px
          padding: 15px
      &__feedback
        &-tel
          font-size: 18px
@media (max-width: 992px)
  .container
    max-width: 768px
  .subheader
    &-text
      & h1
        margin-bottom: 50px
        font-size: 30px
        line-height: 35px
        & span
          font-size: 18px
          line-height: 20px
  .feedback
    &-form
      text-align: center
      min-width: 100%
      &__input
        &-button
          width: 75%
  .modal
    &-wrap
      width: 80%
    &-description
      margin-top: 0
      &__block
        margin-bottom: 10px
    &-form
      margin-top: 10px
      &__headline
        & h1
          margin-bottom: 15px
          font-size: 16px
        & h3
          margin-bottom: 25px
      &__input
        max-width: 240px
        padding: 15px
        margin: 0 auto
      &__button
        max-width: 240px
        margin: 0 auto
    &-description
      padding: 40px 45px 35px 40px
  .feedback
    background-size: cover
    background-position: center
    position: statick
    &::before
      content: ''
      width: 0%
    &-form
      &__input
      max-width: 230px
  .portfolio
    h1
      font-size: 25px
  .slider
    margin-bottom: 30px
  .repair
    & .headline
      margin-top: -50px
      &__title
        font-size: 16px
    &-blocks
      justify-content: center
      margin-bottom: 30px
      &__item
        margin-right: 10px
    &-items
      flex-wrap: wrap
      justify-content: space-around
      &__arrow
        display: none
  .suggestion
    &-blocks
      flex-flow: column nowrap
      align-items: center
      justify-content: flex-start
      margin: 120px auto
      text-align: center
      &__block
        margin-right: 0
        margin-bottom: 25px
        box-shadow: 0 0 20px rgba($black, 0.1)
  .documents
    &-blocks
      flex-flow: column nowrap
      justify-content: center
      align-items: center
      margin-bottom: 30px
  .statement
    padding: 0
    &-title
      margin: 45px auto
      font-size: 20px
      line-height: 25px
  .request
    & .description
      padding: 50px 
    & .form
      &-headline
        &__title
          margin-top: -20px
      &-input
        & button
          padding-bottom: 48px
@media (max-width: 768px)
  .container
    max-width: 576px
  .second
    flex-flow: column nowrap
  .subheader
    &-text
      width: 460px
      justify-content: center
      & h1
        text-align: center
    &-image
      transform: none
  .feedback
    &-form
      &__headline
        text-align: center
      &__call-you
        color: darken($lightgray,40%)
      & img
        border: 2px solid gray
        background-color: gray
  .modal
    &-wrap
      width: 70%
      display: flex
      flex-flow: column nowrap
      height: 85%
    &-description
      display: none
    &-form
      margin-top: 20px  
      &__headline
        & h3
          margin-top: 30px
      &__input
        & input
          padding: 20px
        & button
          margin-bottom: 15px
          padding: 25px
      &__feedback
        &-tel
          margin-bottom: 10px
  .portfolio
    &-headline
      max-width: 400px
      margin: auto
  .repair
    &-headline
      &__title
        font-size: 25px
        line-height: 2em
  .documents
    &-headline
      margin-bottom: 15px
      &__title
        margin-bottom: 0
        font-size: 24px
    &-blocks
      margin-top: 0
      flex-flow: column nowrap
      justify-content: center
      &__block
        margin: 15px auto
  .suggestion
    &-blocks
      margin-bottom: 40px
  .statement
    &-title
      margin: 20px auto
      font-size: 18px
  .request
    flex-flow: column nowrap
    max-height: 100%
    & .description
      align-items: center
      width: 100%
      &-headline
        text-align: center
    & .form
      padding: 50px 0
      width: 100%
      &-input
        & button
          padding-bottom: 28px
  .footer
    flex-flow: column nowrap
    &-wrap
      display: flex
      flex-flow: row wrap
      justify-content: space-around
      margin: 0 auto
      margin-top: 20px
    &-maps
      width: 100%
      flex-basis: 100%
    &-contacts
      order: -1
      flex-basis: 100%
      padding: 0
      &__title
        margin: 0 auto
        margin-top: 20px
        width: 60%
        text-align: center
@media (max-width: 576px)
  .container
    width: 320px
  .header
    &-text
      +display
      flex-flow: row nowrap
      justify-content: space-between
      text-align: center
      &__contacts
        text-align: right
        order: 1
        padding-left: 10px
        font-size: 10px
      &__contacts a
        font-size: 12px
      &__callme       
        order: 2
        &::after
          content: ''
          width: 32px
          height: 32px
          display: flex
          background-image: url('../Imgs/auricular-phone-symbol-in-a-circle.png')
        & button
          display: none
  .subheader
    &-text
      width: 90%
      & h1
        font-size: 25px
        line-height: 30px
        & span
          font-size: 12px
          line-height: 5px
    &-image
      margin: 0 auto
  .feedback
    &-form
      margin: 0 auto
      & input
        display: block
        width: 100%
      & button
        width: 100%
      &__call
        +display
        flex-flow: column nowrap
        text-align: center
        & img
          margin: 10px auto
  .portfolio
    & .section-title
      width: 90%
      margin: 0 auto
  .statement
    &-title
      font-size: 25px
      line-height: 30px
  .documents
    &-headline
      margin: 20px auto
      &__title
        line-height: 25px
  .suggestion
    &-blocks
      margin-bottom: 30px
  .modal
    &-wrap
      width: 90%  
    &-form
      &__input
        & input
          padding: 15px
        & button
          padding: 20px
    &-form
      &__headline
        & h1
          font-size: 18px
      margin: 0
      padding: 0
      &__feedback
        margin: 0
        &-callus
          margin: 10px auto
          width: 80%
        &-tel
          margin-bottom: 0
  .request
    & .description
      padding: 0
      align-items: flex-start
      &-headline
        margin: 10px auto
        width: 95%
        &__title
          margin-top: 10px
          font-size: 16px
        &__subtitle
          margin: 15px
          line-height: 20px
      &-list
        margin-left: 15px
    & .form
      padding: 0
      &-headline
        margin-top: 25px
      &-input
        max-width: 80%  
        & button
          padding-bottom: 28px
  .repair
    &-headline
      width: 80%
      &__title
        margin: 0 auto
        width: 100%
      &__subtitle
        margin: 15px auto
    &-items
      &__item
        margin-bottom: 35px

          
 
    
    
    
    
        



    
