.request 
  background: url('../Imgs/form/background.jpg') repeat-y  120%
  background-color: $primary-color
  & .container
    +display
  & .description
    padding-right: 100px
    width: 515px
    &-headline
      margin-top: -70px
      &__title
        color: $black
        font:
          family: $msb
          size: 13px
          weight: 400
        line-height: 45px
      &__subtitle
        color: $black
        font:
        font:
          family: $msl
          size: 16px
          weight: 400
        line-height: 45px
    &-list
      &__line
        +display
        justify-content: flex-start
        margin-bottom: 26px
        &-number
          margin-right: 32px
          height: 35px
          padding: 10px 
          padding-top: -10px
          border-radius: 50%
          border: 2px solid $black  
          color: $black
          font:
            family: $msb
            size: 14px
            weight: 400
          text-align: center
          vertical-align: middle
        &-text
          color: $black
          font:
            family: $msm
            size: 18px
            weight: 400
  & .form
    padding-bottom: 93px
    width: 400px
    &-headline
      margin-top: 103px
      text-align: center
      &__title
        margin-bottom: 52px
        color: $lightgray
        font:
          family: $msb
          size: 13px
          weight: 400
        line-height: 45px
      &__subtitle
        margin-bottom: 49px
        color: $lightgray
        font:
          family: $msl
          size: 16px
          weight: 400
        line-height: 35px
    &-input
      +display
      flex-flow: column nowrap
      & input
        width: 100%
        margin-bottom: 15px
        padding: 26px
        color: $input-color
        font:
          family: $msl
          size: 15px
          weight: 400
        line-height: 24px
        &:last-child
          margin-bottom: 30px
      & button
        width: 100%
        margin-bottom: 23px
        padding: 28px 
        color: $lightgray
        font:
          family: $msb
          size: 16px
          weight: 400
        line-height: 18px
    &-comm
      color: $lightgray
      font:
        family: $msl
        size: 15px
        weight: 400
      line-height: 24px
      text-align: center
    

            
          
          
          
         


         




          
          