.request 
  background: url('../Imgs/form/background.jpg') no-repeat   140%
  background-color: $primary-color
  max-height: 660px
  &::after
    margin-right: 50px
  & .container
    +display
    justify-content: space-around
    align-items: baseline
    height: 100%  
  & .description
    flex-basis: 515px
    &-headline
      &__title
        margin-bottom: 50px
        color: $black
        font:
          family: $msb
          size: 22px
          weight: 400
        line-height: 33px
      &__subtitle
        margin-bottom: 100px
        color: $black
        font:
          family: $msl
          size: 16px
          weight: 400
        line-height: 45px
    &-list
      &__line
        +display
        justify-content: flex-start
        margin-bottom: 26px
        &-number
          margin-right: 32px
          height: 35px
          padding: 10px 
          padding-top: -10px
          border-radius: 50%
          border: 2px solid $black  
          color: $black
          font:
            family: $msb
            size: 14px
            weight: 400
          text-align: center
          vertical-align: middle
        &-text
          color: $black
          font:
            family: $msm
            size: 18px
            weight: 400
  & .form
    padding-bottom: 93px
    flex-basis: 400px
    &-headline
      padding-top: 103px
      text-align: center
      &__title
        margin-bottom: 52px
        color: $lightgray
        font:
          family: $msb
          size: 22px
          weight: 400
        line-height: 33px
      &__subtitle
        margin-bottom: 49px
        color: $lightgray
        font:
          family: $msl
          size: 16px
          weight: 400
        line-height: 35px
    &-input
      +display
      flex-flow: column nowrap
      & input
        width: 100%
        height: 65px
        margin-bottom: 15px
        padding: 26px
        color: $input-color
        font:
          family: $msl
          size: 15px
          weight: 400
        line-height: 24px
        &:last-child
          margin-bottom: 30px
      & button
        width: 100%
        height: 60px
        margin-bottom: 33px
        padding: 15px 
        color: $lightgray
        font:
          family: $msb
          size: 16px
          weight: 400
        line-height: 18px
    &-comm
      color: $lightgray
      font:
        family: $msl
        size: 15px
        weight: 400
      line-height: 24px
      text-align: center
    

            
          
          
          
         


         




          
          