.second
  padding-top: 60px
.subheader
  background-color: $bg-color
  +display
  &-text
    flex-basis: 50%
    & h1
      margin-bottom: 70px
      color: $lightgray
      font:
        family: $msb
        size: 41px
          eight: 400
      line-height: 55px
      & span
        margin-top: 50px
        font-size: 20px
        line-height: 65px
    &__advantages
      max-width: 350px
      color: $lightgray
      font:
        family: $msl
        size: 14px
        weight: 400
      line-height: 24px
      &-advantage
        display: flex
        flex-flow: row nowrap
        align-items: center
        margin-bottom: 30px
      &-image
        min-width: 40px
        height: 40px
        display: flex
        justify-content: center
        align-items: center
        margin-right: 30px
        border-radius: 50%
        border: 2px solid $primary-color     
  &-image
    flex-basis: 50%
    position: relative
    z-index: 99
    transform-origin: left top
    transform: scale(1.3)
   
